---

import GitHub from "./icon/Hub.astro"
import JS from "./icon/JS.astro"
import CSS from "./icon/CSS.astro"
import Node from "./icon/Node.astro"
import Python from "./icon/Python.astro"
import ExpressJS from "./icon/Express.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  JS: {
    name: "JavaScript",
    class: "bg-yellow-500 text-white",
    icon: JS,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-900 text-white",
    icon: CSS,
  },
  NodeJS: {
    name: "NodeJS",
    class: "bg-green-700 text-white",
    icon: Node,
  },
  ExpressJS: {
    name: "ExpressJS",
    class: "bg-gray-500 text-white",
    icon: ExpressJS,
  },
  Python: {
    name: "Python",
    class: "bg-gray-500 text-white",
    icon: Python,
  },
}
const PROJECTS = [
{
    title: "Tetris Game",
    description:
      "Desarollado en Python utilizando la biblioteca Pygame. Las piezas caen y puedes controlar su movimiento y rotación. Además, incluye música de fondo, funciones de pausa y control de volumen, y una pantalla de Game Over cuando pierdes.",
    github: "https://github.com/yamilabelen98/GAME_TETRIS",
    image: "/Img/tetris.jpg",
    tags: [TAGS.Python],
  },
  {
    title: "Proyecto Bot Discord",
    description:
      "Un bot de Discord diseñado como parte de mi aprendizaje en desarrollo de bots y automatización. Incluye funcionalidades básicas como comandos personalizados, moderación y respuestas automáticas, y está creado con un enfoque en la optimización y el uso eficiente de la API de Discord. Este proyecto forma parte de mi portafolio como muestra de mi habilidad en el desarrollo de bots y aplicaciones interactivas.",
    github: "https://github.com/yamilabelen98/BotDiscord",
    image: "/Img/bot.png",
    tags: [TAGS.JS, TAGS.ExpressJS, TAGS.NodeJS],
  },
  {
    title: "Proyecto Individual VideoGame - con JavaScript",
    description:
      "Desarollo de single-page application interactiva, con temática de VideoJuegos. Utilizando React para el Front-End y Redux para el manejo de estados. La parte visual fue desarrollada utilizando CSS puro y sin ayuda de librerías externas. El Back-end fue desarrollado con la ayuda de una API que envía la información a través del mismo y codificado con NodeJS y con la ayuda de ExpressJS. A su vez, extendÍ funcionalidades a la API original, tales como el creado de nuevos personajes.",
    github: "https://github.com/yamilabelen98/Proyecto-Individual-VideoGame",
    image: "/Img/videogame.webp",
    tags: [TAGS.JS, TAGS.CSS, TAGS.ExpressJS, TAGS.NodeJS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl border-2 lg:border-3 lg:border-[#ed6195] lg:hover:border-[#ed6195]lg:hover:bg-[#f5b7cd] ">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2 flex-wrap gap-y-2">
          {tags.map((tag) => (
            <li class="flex flex-row items-center">
              <span
                class={`flex items-center flex-row rounded-full text-xs ${tag.class} gap-x-2 py-1 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {/* {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )} */}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>