---

import GitHub from "./icon/Hub.astro"
import JS from "./icon/JS.astro"
import CSS from "./icon/CSS.astro"
import Node from "./icon/Node.astro"
import ExpressJS from "./icon/Express.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  JS: {
    name: "JavaScript",
    class: "bg-yellow-500 text-white",
    icon: JS,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  },
  NodeJS: {
    name: "NodeJS",
    class: "bg-green-700 text-white",
    icon: Node,
  },
  ExpressJS: {
    name: "ExpressJS",
    class: "bg-gray-700 text-white",
    icon: ExpressJS,
  },
}
const PROJECTS = [
  // {
  //   title: "Proyecto Grupal Morfi",
  //   description:
  //     "Desarollador Full Stack para proyecto grupal Morfi, que consistio en desarrollar una single-page application destinada a la publicacion de restaurantes y ventas de productos.",
  //   link: "https://svgl.vercel.app/",
  //   github: "https://github.com/pheralb/svgl",
  //   image: "/src/Img/videogame.webp",
  //   tags: [TAGS.JS, TAGS.CSS],
  // },
  {
    title: "Proyecto Individual VideoGame - con JavaScript",
    description:
      "Desarollo de single-page application interactiva, con tematica de VideoJuegos. Utilizando React para el Front End y Redux para el manejo de estados. La parte visual fue desarrollada utilizando CSS puro y sin ayuda de librerías externas. El back end fue desarrollado con la ayuda de una API que envía la información a través del mismo y codificado con NodeJS y con la ayuda de ExpressJS. A su vez, extendi funcionalidades a la API original, tales como el creado de nuevos personajes.",
    github: "https://github.com/yamilabelen98/Proyecto-Individual-VideoGame",
    image: "/Img/videogame.webp",
    tags: [TAGS.JS, TAGS.CSS, TAGS.ExpressJS, TAGS.NodeJS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2 flex-wrap gap-y-2">
          {tags.map((tag) => (
            <li class="flex flex-row items-center">
              <span
                class={`flex items-center flex-row rounded-full text-xs ${tag.class} gap-x-2 py-1 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {/* {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )} */}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>